html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.ui-timepicker-wrapper {
  background-color: lightgrey;
  z-index: 69;
  padding: 12px;
  border: 1px solid black;
}