@page
@model IndexModel
@{
    ViewData["Title"] = "HomePage";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h6>This site served as my appointment event planner</h6>
    <p>I can setup an event/appointment with specific date and time for other people to join</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
