@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ol>
    <li>All your information entered via this site would only be used by site admin(me) for intended purposes.</li>
    <li>Your email and name if the site persister as input, would be keep under third-party cloud services using my subscription.</li>
</ol>
